/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

// ===== Colors n stuff ===== //
$bg-color: #dddddd;
$light-border: #b4b4b4;
$dark-border: #777373;
$shadow-color: rgba(0, 0, 0, 0.15);

// Aditional stuff from rails-demos-and-deets-2023
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

label.required:after {
  content:" *";
}

body {
  background: asset_url('background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: color-burn;
  background-color: $bg-color;
  width: 100vw;
  overflow-x: hidden;
}

.flash-container {
  width: max-content;
  max-width: 90vw;
  z-index: 1055;
}

// ========= Margins ========= //
// Default for extra small screens (phones)
.container {
  max-width: 100%;
}
// Small screens (tablets)
@media (min-width: 600px) {
  .container {
    max-width: 90%;
  }
}
// Large screens (desktops)
@media (min-width: 992px) {
  .container {
    max-width: 85%;
  }
}
// Extra large screens
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

// ========= Navbar ========= //
.navbar{
  position: sticky;
  top: 0;
  z-index: 1030;
  margin-left: calc(100vw - 100%);
  margin-right: calc(100vw - 100%);
  padding: 10px 0px;
  background-color: $bg-color !important;
  border-bottom: 1px solid $light-border !important;
}

.nav-btn {
  @extend .btn;
  transition: transform 0.2s ease;
  background-color: $gray-300;
  border-color: $light-border;
  font-size: 18px;
  padding: 0.25rem 0.75rem;
  box-shadow: 1px 1.5px 4px 0.5px $shadow-color;

  &:hover {
    transform: scale(1.05);
    border-color: $dark-border;
  }
}

.nav-reset-btn {
  @extend .nav-btn;
  color: $red-500;
  border-color: $red-500;

  &:hover {
    color: $red-600;
    border-color: $red-600;
  }
}

.nav-search-btn {
  @extend .nav-btn;
  color: $green-500;
  border-color: $green-500;

  &:hover {
    color: $green-600;
    border-color: $green-600;
  }
}

.search{
  @extend .form-control;
  transition: transform 0.2s ease;
  box-shadow: 1px 1.5px 4px 0.5px $shadow-color;
  border-color: $light-border;

  &:hover {
    transform: scale(1.025);
    border-color: $dark-border;
  }
}

.nav-link {
  transition: transform 0.2s ease;

  &:hover {
    color: $gray-900;
    transform: scale(1.05);
  }
}

.navbar-brand {
  transition: transform 0.2s ease;
  color: $gray-800;
  
  &:hover {
    color: $black;
    transform: scale(1.075);
  }
}

// ====== Tags Buttons ====== //
.tag {
  @extend .btn;
  transition: transform 0.1s ease;
  font-size: .75rem;
  padding: .05rem .4rem;
  margin-bottom: .75rem;
  box-shadow: 1.5px 1.75px 2px 1px $shadow-color;
}
.btn-tag {
  @extend .tag;
  
  &:hover {
    border-color: $dark-border !important;
    transform: scale(1.15);
  }
}

.nav-btn-tag {
  @extend .btn;
  transition: transform 0.2s ease;
  font-size: 16px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.25rem;
  box-shadow: 0.5px 1px 3px 1px $shadow-color; 

  &:hover {
    transform: scale(0.925);
    color: $red-500;
    border-color: $red-500 !important; 
    background-color: $bg-color !important;
  }
  &:active {
    color: $red-600 !important;
    background-color: $bg-color !important;
  }
}

// ========== Cards ========== //
.card-btn {
  text-decoration: none;
  background-color: $gray-100 !important;

  .card {
    transition: transform 0.2s ease, border-color 0.2s ease;
    border-color: $light-border;
  }

  &:hover .card {
    transform: scale(1.05);
    border-color: $dark-border;
  }
}

.edit-card-btn {
  @extend .card-btn;

  &:hover .card {
    border-color: $blue-600;
  }
  &:hover .label {
    color: $blue-600
  }
}

.recipe-card {
  @extend .card;
  transition: transform 0.2s ease;
  background-color: $gray-100 !important;
  border-color: $light-border;

  .label {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    opacity: 0.65;
  }

  &:hover {
    transform: scale(1.025);
    border-color: $dark-border;
  }

  &:hover .label {
    opacity: 0.85;
  }
}

// ===== General Buttons ===== //
.big-btn {
  @extend .btn;
  @extend .btn-lg;
  color: $gray-800;
  transition: transform 0.2s ease;
  background-color: $gray-200;
  border-color: $light-border;
  box-shadow: 1px 1.5px 6px 2px $shadow-color;
  
  &:hover {
    transform: scale(1.05);
    background-color: $bg-color;
    border-color: $dark-border;
  }
}

.create-btn {
  @extend .big-btn;
  color: $gray-200;
  background-color: $green-500;
  
  &:hover {
    color: $gray-200;
    background-color: darken($green-500, 4%);
    border-color: $green-600;
  }
}

.delete-btn {
  @extend .big-btn;
  color: $gray-200;
  background-color: $red-500;
  
  &:hover {
    color: $gray-200;
    background-color: darken($red-500, 4%);
    border-color: $red-600;
  }
}

// ========== Forms ========== //
.form-control {
  border-color: $gray-400;
  box-shadow: 1px 1px 6px 1px $shadow-color;

  &:hover {
    border-color: $dark-border;
  }
}

.form-check-input {
  transition: transform 0.15s ease;
  border-color: $gray-400;
  box-shadow: 1px 1px 2px 1px $shadow-color;
  
  &:hover {
    color: $gray-900;
    transform: scale(1.1);
    border-color: $dark-border;
  }
}
