/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


// Aditional stuff from rails-demos-and-deets-2023
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

label.required:after {
  content:" *";
}

main {
    margin-top: 1rem;
}

.button_to {
  display: inline;
}

.btn-tag {
  @extend .btn;
  padding: .05rem .4rem;
  font-size: .75rem;
  margin-left: -0.35rem;
  margin-right: .4rem;
  margin-bottom: .5rem;
}
.btn-tag:hover {
  transition: transform 0.1s ease;
  transform: scale(1.15);
}

// Home page buttons
.card-btn {
  transition: transform 0.2s ease;
  text-decoration: none;
  border-color: #cccccc;
}
.card-btn:hover {
  transition: transform 0.1s ease;
  transform: scale(1.05);
  border-color: #242424;
}
.card-btn .card {
  transition: inherit;
  border-color: inherit;
}
.card-btn:hover .card {
  transform: inherit;
  border-color: inherit;
}

.card:hover {
  transition: transform 0.2s ease;
  transform: scale(1.015);
  border-color: #242424;
}

// SCREEN MARGIN CUSTOMIZATION
// Default for extra small screens (phones)
.container {
  max-width: 100%;
}
// Small screens (tablets)
@media (min-width: 600px) {
  .container {
    max-width: 90%;
  }
}
// Large screens (desktops)
@media (min-width: 992px) {
  .container {
    max-width: 85%;
  }
}
// Extra large screens
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
