/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

// ===== Colors n stuff ===== //
$bg-color: #dddddd;
$soft-white: #ececec;
$btn-bg: #e6e6e6;
$light-border: #b4b4b4;
$dark-border: #555555;
$blue: #1d59b3;
$red: #c21700;
$shadow-color: rgba(0, 0, 0, 0.15);

// Aditional stuff from rails-demos-and-deets-2023
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

label.required:after {
  content:" *";
}

body {
  background-color: $bg-color;
}

// ========= Margins ========= //
// Default for extra small screens (phones)
.container {
  max-width: 100%;
}
// Small screens (tablets)
@media (min-width: 600px) {
  .container {
    max-width: 90%;
  }
}
// Large screens (desktops)
@media (min-width: 992px) {
  .container {
    max-width: 85%;
  }
}
// Extra large screens
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

// ========= Navbar ========= //
.navbar{
  background-color: $bg-color !important;
}

.nav-btn {
  @extend .btn;
  transition: transform 0.2s ease;
  background-color: $btn-bg;
  border-color: $light-border;
  font-size: 18px;
  padding: 0.25rem 0.75rem;
  box-shadow: 1px 1.5px 4px 0.5px $shadow-color;

  &:hover {
    transform: scale(1.05);
    border-color: $dark-border;
  }
}

.search{
  @extend .form-control;
  box-shadow: 1px 1.5px 4px 0.5px $shadow-color; 
}

// ====== Tags Buttons ====== //
.tag {
  @extend .btn;
  transition: transform 0.1s ease;
  font-size: .75rem;
  padding: .05rem .4rem;
  margin-bottom: .75rem;
  box-shadow: 0.5px 1px 2px 1px $shadow-color;
}

.btn-tag {
  @extend .tag;

  &:hover {
    transform: scale(1.15);
  }
}

.nav-btn-tag {
  @extend .btn;
  transition: transform 0.2s ease;
  font-size: 16px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.25rem;
  box-shadow: 0.5px 1px 3px 1px $shadow-color; 

  &:hover {
    transform: scale(0.925);
    color: $red;
    border-color: $red !important; 
    background-color: $bg-color !important;
  }
}

// ========== Cards ========== //
.card-btn {
  text-decoration: none;

  &:hover .card {
    transform: scale(1.05);
    border-color: $dark-border;
  }
}
.card-btn .card {
  transition: transform 0.2s ease, border-color 0.2s ease;
  border-color: $light-border;
}

.edit-card-btn {
  @extend .card-btn;

  &:hover .card {
    border-color: $blue;
  }
  &:hover .label {
    color: $blue
  }
}

.recipe-card {
  @extend .card;
  transition: transform 0.2s ease;
  background-color: $soft-white !important;
  border-color: $light-border;

  &:hover {
    transform: scale(1.015);
    border-color: $dark-border;
  }

  &:hover .label {
    opacity: 0.85;
  }
}
.recipe-card .label {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.65;
}
